{
  "plugins": [
    "@prettier/plugin-php",
    "@shufo/prettier-plugin-blade",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "blade",
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "trailingComma": "es5",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore",
        "wrapAttributes": "preserve-aligned"
      }
    },
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "printWidth": 120,
        "tabWidth": 4
      }
    }
  ],
  "tailwindFunctions": ["clsx", "cn", "cva", "tw"]
}
