{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "plugins": ["@prettier/plugin-php", "@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.php"],
            "options": {
                "phpVersion": "8.3",
                "trailingCommaPHP": true,
                "printWidth": 120
            }
        },
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ]
}
