@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.kaisei-opti-regular {
    font-family: "Kaisei Opti", serif;
    font-weight: 600;
    font-style: normal;
}

.wavy-background {
    background-image: url('../../public/images/waves-8.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: white;
}
