@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.kaisei-opti-regular {
    font-family: "Kaisei Opti", serif;
    font-weight: 600;
    font-style: normal;
}
