@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.melete-font-bold {
    font-family: "Melete Bold", sans-serif;
    font-style: normal;
}

.melete-font {
    font-family: "Melete", sans-serif;
    font-style: normal;
}

.sanomat-font {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;
}

.wavy-background {
    background-image: url("../../public/images/waves-8.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: white;
}
