@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

body {
    background: none !important;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../public/images/new-waves.svg");
    background-repeat: repeat-x;
    background-position: center; /* Change this to 'top' if you want the image to start from the top */
    z-index: -1;
    background-size: cover;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.melete-font-bold {
    font-family: "Melete Bold", sans-serif;
    font-style: normal;
}

.melete-font {
    font-family: "Melete", sans-serif;
    font-style: normal;
}

.sanomat-font {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;
}
