@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

[x-cloak] {
    display: none;
}

body {
    background: none !important;
    @apply dark:bg-none !important;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../../../public/images/new-waves.svg");
    background-repeat: repeat-x;
    background-position: center; /* Change this to 'top' if you want the image to start from the top */
    z-index: -1;
    background-size: cover;
    background-color: white;
    @apply dark:bg-white;
}

/*@media (max-width: 1024px) {*/
/*    body::before {*/
/*        background-repeat: no-repeat;*/
/*        background-size: cover;*/
/*    }*/
/*}*/

/*.fi-wi-stats-overview-stat, .fi-ta-ctn, .fi-section-content {*/
/*    background-color: rgba(255, 255, 255, 0.9) !important;*/
/*}*/

.fi-header-heading {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;
    @apply tracking-wide text-3xl !important;
}

[x-persist="topbar.end"] {
    margin: 0 !important;
    @apply w-full flex items-center !important;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.melete-font-bold {
    font-family: "Melete Bold", sans-serif;
    font-style: normal;
}

.melete-font {
    font-family: "Melete", sans-serif;
    font-style: normal;
}

.sanomat-font {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;
}

.wavy-background {
    background-image: url("../../../../public/images/waves-8.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: white;
}
