@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

[x-cloak] {
    display: none;
}

.fi-topbar, .fi-sidebar-nav, .fi-header {
    @apply prima-native:hidden;
}

body {
    background: none !important;
    @apply dark:bg-none !important;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../../../public/images/new-waves.svg");
    background-repeat: repeat-x;
    background-position: center; /* Change this to 'top' if you want the image to start from the top */
    z-index: -1;
    background-size: cover;
    background-color: white;
    @apply dark:bg-white;
}

.inline-form {
    @apply gap-4 !important;
}

.single-col-tabs .fi-fo-component-ctn {
    @apply gap-x-0 gap-y-4;
}

.fi-tabs-item {
    @apply font-semibold text-slate-500;
}

.fi-tabs-item-active {
    @apply text-indigo-600;
}

.fi-header-heading {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;
    /*@apply -my-4 tracking-wide text-3xl !important;*/
    @apply tracking-wide text-3xl !important;
}

[x-persist="topbar.end"] {
    margin: 0 !important;
    @apply w-full flex items-center !important;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.melete-font-bold {
    font-family: "Melete Bold", sans-serif;
    font-style: normal;
}

.melete-font {
    font-family: "Melete", sans-serif;
    font-style: normal;
}

.sanomat-font {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;
}

.wavy-background {
    background-image: url("../../../../public/images/waves-8.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: white;
}


.fi-header {
    @apply flex flex-row items-center;
    @media only screen and (max-width: 640px) {

    }
}

.fi-header-heading {
    font-family: "Sanomat Web Regular Regular", serif;
    font-style: normal;


    @media only screen and (max-width: 640px) {
        font-size: 22px !important;
    }
}

.fi-ac {
    top: 0;
    @apply flex-grow text-right justify-end;
    @media only screen and (max-width: 640px) {

    }
}
