@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.wavy-background {
    background-image: url('../../../../public/images/waves-1.svg');
    background-color: rgba(99, 102, 241, 0.5); /* indigo-500 with 50% opacity */
    background-repeat: repeat;
}
